.form {
  position: absolute;
  top: 130px;
  left: 30%;
  width: 650px;
  z-index: 2;
  box-sizing: border-box;

  background: #fff;
  border: 1px solid var(--custom-gray);
  -webkit-box-shadow: 0px 0px 10px 3px var(----gray-text);
  -moz-box-shadow: 0px 0px 10px 3px var(--gray-text);
  box-shadow: 0px 0px 10px 3px var(--gray-text);
}

.form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--gray-text);
  font-size: 15px;
  cursor: pointer;
}

.form input::placeholder {
  color: var(--gray-text);
}

.form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--custom-gray);
}

.form__cross {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--gray-text);
  font-size: 25px;
  border: none;
  background: inherit;
}

.form__cross:hover {
  color: #000;
}

.form__body {
  padding: 45px 25px 60px;
}

label {
  cursor: pointer;
  display: block;
  padding: 15px 0;
}

label span {
  color: red;
}

.form__buttons {
  display: flex;
  justify-content: right;
  gap: 15px;
  padding: 20px 25px;
  box-sizing: border-box;
  border-top: 1px solid var(--custom-gray);
}

.form__buttons button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 15px;
}

.form__buttons button:hover {
  -webkit-box-shadow: 0px 0px 5px 1px var(----gray-text);
  -moz-box-shadow: 0px 0px 5px 1px var(--gray-text);
  box-shadow: 0px 0px 5px 1px var(--gray-text);
}

.form__buttons button:first-child {
  background-color: #fff;
  border-color: var(--gray-text);
}

.form__buttons button:last-child {
  background-color: #1990ff;
  color: #fff;
}
