.search-bar {
  width: 300px;
  height: 60px;
  box-sizing: border-box;
  margin: 50px 0;
  border-radius: 5px;
  background-color: var(--custom-gray);
  border: 2px solid var(--custom-gray);

  display: flex;
}

.search-bar:hover,
.search-bar:focus,
.search-bar:active {
  border-color: var(--custom-blue);
}

.search-bar__image {
  padding: 15px 0 15px;
  width: 60px;
}

.search-bar__input {
  width: 75%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-weight: 1.5rem;
  font-size: 1rem;
}

.search-bar__input::placeholder {
  color: black;
}