html {
  margin: 50px;
  padding: 0;
  scroll-behavior: smooth;
  color: #272727;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  overflow: scroll;

  --custom-gray: #f3f4f8;
  --custom-blue: #93cbff;
  --gray-text: #bdbdbd;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2, h3 {
  font-weight: lighter;
  letter-spacing: 1.5px;
}

input:focus {
  outline: none;
}
